html, body {
  height: 100%}


ol {
  counter-reset: section;

  list-style-type: none;
}

.nested-list li::before {
  counter-increment: section;

  content: counters(section, ".") " ";
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

p {
  font-family: "Sans-serif";
  font-size: 14px;
}

.BestPic {
  animation: rotation 2s infinite, blink 2s infinite;
}

#content-table {
  display: inline-block;
  padding-right: 40px;
  border: black 1px solid;
  text-align: left;
  background-color: #f8f9fa;
  margin-bottom: 50px;
}

#contents-title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 550;
}

#side-list {
  list-style-type: none;
}

#side-list-container {
  /* display: flex; */
  margin-right: 20px;
  background-color: #f8f9fa;
  padding-right: 20px;
  border-right: 1px #5eebdd solid;

}
.underscore-object {
  border-bottom: 1px gray solid;
}

.main-container {
  display: flex;
}

.script-container {
  display: flex;
  width: 100%;
  margin-bottom: 100px
}

.side-image {
  height: 600px;
  width: 500px;
  margin-left: auto;
}
#side-list li {
  margin-bottom: 10px;
}

